{% extends 'userbase.html'%}
{% load static %}
{% block contents %}

 <li>
              <div class="heading">
                <h1>Welcome Users ..</h1>
              </div>
              <div class="cd-half-width second-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content second-content">
                        <div class="row">
                          <div class="col-md-5 left-image">
                            <img src="{% static 'img/User.jpg' %}">
                          </div>
                          <div class="col-md-5">
                            <div class="right-about-text">
                              <h4>Users..</h4>
                              <p>Users can view the news,users can upload the news,users can delete the news. 
                            </div>
                          </div>
                        </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>


{% endblock %}