{% extends 'base.html'%}
{% load static %}
{% block contents %}

 <li>
              <div class="heading">
                <h1>User Registration</h1>
              </div>
              <div class="cd-half-width second-slide">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="content second-content">
                        <div class="row">
                          <div class="col-md-5 left-image">
                            <img src="{% static 'img/login.jpg' %}">
                          </div>
                          <div class="col-md-5">
                            <div class="right-about-text">
                              <h4>user Registration</h4>
                                <form action="{% url 'userregister' %}" method="POST">
                                    {% csrf_token %}
                                    <table>
                                          <tr><td style="color:Black">First Name</td><td >{{form.firstname}}</td></tr>
                                            <tr><td style="color:Black">Last Name</td><td >{{form.lastname}}</td></tr>
                                            <tr><td style="color:Black">Email</td><td>{{form.email}}</td></tr>
                                            <tr><td style="color:Black">Password</td><td>{{form.password}}</td></tr>
                                            <tr><td style="color:Black">conformPassword</td><td>{{form.conformpassword}}</td></tr>
                                            <tr><td style="color:Black">Mobile</td><td>{{form.mobileno}}</td></tr>
                                            <tr><td style="color:Black">City</td><td>{{form.city}}</td></tr>

                                    </table>
                                <input type="submit" value="submit">

                                </form>
                            {% if messages %}
                                {% for message in messages %}
                                    <font color='darkred'> {{ message }}</font>
                                {% endfor %}
                            {% endif %}
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-7">
                            <div class="left-about-text">
                              <h4>New User Register Here ?</h4>
                              <a href="{% url 'userregister' %}" style="color:blue">Click Here</a>

                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>


{% endblock %}